/* ------ JADE'S CODE --------------------------- */
/* Update styling to make even nice, despite liking classic look */

/* *Low specificity. Applies to elements without classes or ids, so usually does not interfere with game for instance */


* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}

html,
body {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-family: "Press Start 2P", cursive;
    background-color: black;

}

h1,
h5 {
    text-align: center;
    font-weight: lighter;
    font-size: 2.5rem;
    color: magenta;
}

#yourScore {
    margin: auto;
    padding: auto;
    text-align: center;
    font-weight: lighter;
    font-size: 1.8rem;
    color: magenta;
}

#pageTitle {
    /* padding: 20px; */
}

/* Put pacman img to right of title */
#pacmanImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: auto;
    animation: blinkerPacman 1.5s linear infinite;
}

@keyframes blinkerPacman {
    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }
}

#playAgainBtn, #playAgainBtnWin, #playAgainBtnOver {
    margin: auto;
    padding: 0.7rem;
    text-align: center;
    display: flex;
    z-index: 30;
    background-color: rgb(21, 255, 0);
    box-shadow: 2px 3px 4px blueviolet;
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    font-family: "Press Start 2P", cursive;
    animation: blinkerButton 1.5s linear infinite;
}

@keyframes blinkerButton {
    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }
}

#youWin {
    margin: auto;
    padding: 125px 0 0 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    text-align: center;
    font-size: 3rem;
    display: none;
}

#gameOver {
    margin: auto;
    padding: 125px 0 0 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 0, 64);
    color: indigo;
    text-align: center;
    font-size: 3rem;
    display: none;
}

#winTable {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: fit-content;
    padding: 10px 7px 10px 7px;
    text-align: center;
    background-color: white;
    border: black solid 2px;
    box-shadow: 2px 3px 4px blueviolet;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    border-collapse: inherit;
}

#gameOverTable {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: fit-content;
    padding: 10px 7px 10px 7px;
    text-align: center;
    background-color: black;
    box-shadow: 2px 3px 10px blueviolet;
    border: blueviolet 2px solid;
    color: rgb(21, 255, 0);
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    border-collapse: inherit;
}

th {
    font-size: 2rem;
    text-shadow: 2px 4px 7px rgb(135, 9, 253);
}

td {
    font-size: 1.8rem;
    padding: 0 0 0 7px;
}


/* 
#youWinText {
    color: white;
    text-align: center;
    z-index: 20;
    display: none; 
}

#gameOverText {
    color: indigo;
    text-align: center;
    z-index: 20;
   display: none; 
} */

/* -------------------------------------------- */
/* ANIA'S CODE WITH JADE'S CODE EDITS MADE:
changed color scheme, new animation 
Next steps: @mediaqueries/responsive (new size in new classes) */
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
    margin: auto;
    padding: auto;
}

.grid div {
    width: 20px;
    height: 20px;

}

.pac-dot {
    background-color: rgb(0, 112, 94);
    border: 4px solid white;
    box-sizing: border-box;

}

.wall {
    background-color: rgb(0, 17, 255);
}

.power-pellet {
    background-color: rgb(58, 206, 0);
    border-radius: 10px;
}

.blinky {
    background-color: rgb(255, 0, 64);
}

.pinky {
    background-color: rgb(204, 0, 255);
}

.inky {
    background-color: rgb(0, 194, 194);
}

.clyde {
    background-color: rgb(255, 136, 0);
}

.pac-man {
    background-color: yellow;
    border-radius: 10px;
}

.scared-ghost {
    background-color: aquamarine;
    animation: blinker 1s linear infinite;
}

/* ------ JADE'S CODE --------------------------- */
/* Scared ghosts blink */
@keyframes blinker {
    50% {
        opacity: 0.35;
    }

    75% {
        opacity: 0.7;
    }
}

/* NEXT STEPS: Add mediaqueries/Responsiveness here ----------------------------------- */
/* @media screen {
    
} */