/* ------ JADE'S CODE --------------------------- */
/* Updated styling despite loving classic look */

/* NEXT STEPS:
    - Make splash pages scrollable to see all scores 
    - Reset scores option (not just in inspect tool)
    - @mediaqueries/responsive (new size in new classes)
    - Add JSDoc
*/


/* (*)Low specificity. Applies to elements without classes or ids, so usually does not interfere with game, for instance */
* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}

html,
body {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-family: "Press Start 2P", cursive;
    background-color: black;
}

h1,
h5 {
    text-align: center;
    font-weight: lighter;
    font-size: 2.5rem;
    color: magenta;
}

h4 {
    padding: auto;
    text-align: center;
    font-weight: lighter;
    font-size: 1.2rem;
    word-spacing: 20%;
    color: magenta;
    flex-basis: 10%;
}

#pageTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

#yourScore {
    text-align: center;
    font-weight: lighter;
    font-size: 1.6rem;
    color: rgb(21, 255, 0);
    border: purple 1px solid;
    width: fit-content;
    height: auto;
    margin: auto;
    padding: 12px;
}

#enterName {
    display: block;
    margin: .5rem auto 0 auto;
    padding: 5px 6px 5px 6px;
    width: 250px;
    height: fit-content;
    background-color: blanchedalmond;
    border: rgb(21, 255, 0) 1px solid;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-family: "Press Start 2P", cursive;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

#pacmanImg {
    display: block;
    flex-basis: 10%;
    width: 80px;
    height: auto;
    animation: blinkerPacman 1.5s linear infinite;
}

@keyframes blinkerPacman {
    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }
}

#playAgainBtnWin, #playAgainBtnOver {
    margin: auto;
    padding: 0.9rem;
    width: fit-content;
    height: fit-content;
    text-align: center;
    display: flex;
    z-index: 30;
    background-color: rgb(21, 255, 0);
    box-shadow: 2px 3px 4px blueviolet;
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    font-family: "Press Start 2P", cursive;
    animation: blinkerButton 1.5s linear infinite;
}

@keyframes blinkerButton {
    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }
}

#youWin {
    margin: auto;
    padding: 75px 0 0 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    text-align: center;
    font-size: 3rem;
    display: none;
}

#gameOver {
    margin: auto;
    padding: 75px 0 0 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 0, 64);
    color: indigo;
    text-align: center;
    font-size: 3rem;
    display: none;
}

#winTable {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 7px 20px 7px;
    width: 375px;
    height: fit-content;
    z-index: 15;
    text-align: center;
    background-color: white;
    border: black solid 2px;
    box-shadow: 2px 3px 4px blueviolet;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-family: "Press Start 2P", cursive;
    border-collapse: inherit;
}

#gameOverTable {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 7px 20px 7px;
    width: 375px;
    height: fit-content;
    z-index: 15;
    text-align: center;
    background-color: black;
    box-shadow: 2px 3px 10px blueviolet;
    border: blueviolet 2px solid;
    color: rgb(21, 255, 0);
    font-family: "Open Sans", sans-serif;
    font-family: "Press Start 2P", cursive;
    border-collapse: inherit;
}

th {
    padding: 0 0 18px 0;
    font-size: 1.7rem;
    text-shadow: 2px 4px 7px rgb(135, 9, 253);
}

td {
    padding: 0 0 0 7px;
    font-size: 1.5rem;
}


/* -------------------------------------------- */
/* Ania's code with Jade's code edits:
changed color scheme, new animation 
*/
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
    margin: auto;
    padding: auto;
}

.grid div {
    width: 20px;
    height: 20px;

}

.pac-dot {
    background-color: rgb(176, 236, 179);
    border: 4px solid black;
    box-sizing: border-box;

}

.wall {
    background-color: rgb(0, 17, 255);
}

.power-pellet {
    background-color: rgb(58, 206, 0);
    border-radius: 10px;
}

.blinky {
    background-color: rgb(255, 0, 64);
}

.pinky {
    background-color: rgb(204, 0, 255);
}

.inky {
    background-color: rgb(0, 194, 194);
}

.clyde {
    background-color: rgb(255, 136, 0);
}

.pac-man {
    background-color: yellow;
    border-radius: 10px;
}

.scared-ghost {
    background-color: aquamarine;
    animation: blinker 1s linear infinite;
}

/* ------ JADE'S CODE --------------------------- */
/* Scared ghosts blink now */
@keyframes blinker {
    50% {
        opacity: 0.35;
    }

    75% {
        opacity: 0.7;
    }
}