/* ------ JADE'S CODE --------------------------- */
/* Update styling to make even nice, despite liking classic look */
html,
body {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-family: "Press Start 2P", cursive;
    font-size: 62.5%;
}

h1,
h5 {
    text-align: center;
    font-weight: lighter;
    font-size: 2.5rem;
}

#yourScore {
    margin: auto;
    padding: auto;
    text-align: center;
    font-weight: lighter;
    font-size: 1.8rem;
}

#pageTitle {
    /* padding: 20px; */
}

/* Put pacman img to right of title */
#pacmanImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: auto;
}

#playAgainBtn, #playAgainBtnWin, #playAgainBtnOver {
    margin: auto;
    padding: 0.4rem;
    display: flex;
    z-index: 30;
    background-color: rgb(21, 255, 0);
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    font-family: "Press Start 2P", cursive;
}


#youWin {
    margin: auto;
    padding: 200px 0 0 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    text-align: center;
    font-size: 3rem;
    display: none;
}


#gameOver {
    margin: auto;
    padding: 200px 0 0 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 0, 64);
    color: indigo;
    text-align: center;
    font-size: 3rem;
    display: none;

}

/* WANT TO CENTER TEXT */
/* 
#youWinText {
    color: white;
    text-align: center;
    z-index: 20;
    display: none; 


}

#gameOverText {
    color: indigo;
    text-align: center;
    z-index: 20;
   display: none; 

} */

/* -------------------------------------------- */
/* JADE'S CODE EDITS MADE:
changed color scheme, new animation, @mediaqueries */
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
    margin: auto;
    padding: auto;
}

.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: rgb(0, 112, 94);
    border: 4px solid white;
    box-sizing: border-box;
}

.wall {
    background-color: rgb(0, 17, 255);
}

.power-pellet {
    background-color: rgb(58, 206, 0);
    border-radius: 10px;
}

.blinky {
    background-color: rgb(255, 0, 64);
}

.pinky {
    background-color: rgb(204, 0, 255);
}

.inky {
    background-color: rgb(0, 194, 194);
}

.clyde {
    background-color: rgb(255, 136, 0);
}

.pac-man {
    background-color: yellow;
    border-radius: 10px;
}

.scared-ghost {
    background-color: aquamarine;
    animation: blinker 1s linear infinite;
}

/* ------ JADE'S CODE --------------------------- */
/* Scared ghosts blink */
@keyframes blinker {
    50% {
        opacity: 0.35;
    }

    75% {
        opacity: 0.7;
    }
}

/* Add mediaqueries here ----------------------------------- */
/* @media screen {
    
} */